body {    font-family:'Open Sans', sans-serif;}
h1 {    font-family:'Open Sans', sans-serif; font-weight: 700;    }
/* nav */
nav {    display: block; font-weight: 700; font-family: 'Poppins', sans-serif;
    margin-top: 40px; margin-left: 80px; margin-right: 80px;
}
#huddleimg { width: 200px; float: left;}
.try {
    border: 1px solid hsl(322, 100%, 66%); border-radius: 20px;
    font-weight: 700; font-family: 'Poppins', sans-serif;
    color: hsl(322, 100%, 66%);
    padding: 8px 20px 8px 20px;
    float: right;
    text-decoration: none;
}
.try:hover {
    border-color: hsl(321, 100%, 78%) ; color: hsl(321, 100%, 78%);
}
/* Numbers And Icons */
.numbers { margin-top: 100px; text-align: center; margin-bottom: 400px; margin-left: -50px; }
iframe{  margin-bottom: -115px; margin-left: 180px; }
.communities { float: left; margin-left: 250px; }
.messages {  float: right; margin-right: 280px } 
.oneK{     font-size: xxx-large     }
.picons {   color: hsl(0deg 0.36% 70.59%);  }
/* Text with button and photo */
.buildimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top:60px ;
}
.build {    font-weight: 700;   }
.pbuild { width: 510px; text-align: center; margin-left: auto; margin-right: auto; margin-bottom: 40px; font-weight: 400;
}
.abuild {
    border: 1px solid hsl(322, 100%, 66%); border-radius: 40px;
    background-color: hsl(322, 100%, 66%);
    color: white; font-weight: 600;    
    padding: 20px 60px 20px 60px;
    text-decoration: none;
}
.abuild:hover {     border-color: hsl(321, 100%, 78%); background-color: hsl(321, 100%, 78%);}
.bimg {
    margin-top: 100px;
}
/* Grow Together */
.grow {
    background-color: hsl(207, 100%, 98%);  
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
}
.growt {
    width: 500px;
    text-align: center;
    padding-left: 150px;
    padding-top: 150px;
}    
.grows {
    padding-right: 100px;
}   
#growimg {
    height: 400px;
}
/* Flowing Conversations */
.flow {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 200px;
}
.flowt {
    width: 520px;
    text-align: center;
    padding-top: 100px;
    padding-right: 100px;
}    
.flows {
    padding-left: 150px;
}   
#flowimg {
    height: 400px;
}
/* Footer */
footer { 
    margin-top: 250px;
    justify-content: space-between;
}
.color { background-color: hsl(192, 100%, 9%); color: white; margin-top: -5px; width: 100%; text-align: center; padding-bottom: 100px;}
/* left side */
.lft {  width: 35%; display: inline-block;}
.tabone {   padding-top:80px;   }
.tabicon {  margin-bottom:-15px;    }
.tabh { font-size: xxx-large;}
.tabfp {    width: 360px; margin-top: -20px; text-align: left;}
.phone { margin-top: 30px;}
.picon { margin-bottom: -2px; margin-right: 5px; font-size: 20px;    }
.micon {    margin-bottom: -2px; font-size:22px}
.icons {    margin-top: 50px;   }
.iconn {    margin-right: 20px; font-size: 28px;}
/* right side */
.rtl {   display: inline-block; width: 380px; text-align: left;}
.ftxt { width: 200px; height: 30px; border-radius: 5px; border: 0.2px solid white;   }
.fbtn { width: 120px; height: 35px; border-radius: 6px; margin-top: 8px; margin-left: 20px; margin-bottom: 8px; color: white; background-color: hsl(322, 100%, 66%);   
    font-size: 16px; border: 02px solid hsl(322, 100%, 66%);
}
.fbtn:hover {   cursor: pointer;}
